.app {
  background-color: #f5f5f5;
  height: 100vh;
  max-width: 1920px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__header {
  margin: 30px 0;
  font-weight: 100;
  font-size: 146px;
  color: #e9d9d8;
  line-height: 100%;
}

.app__canvas {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}

.app__canvas_lower {
  position: relative;
  width: 830px;
  height: 435px;
  top: 0;
  left: 0;
  background-color: #fefefe;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.app__canvas_middle {
  position: absolute;
  width: 840px;
  height: 435px;
  bottom: 5px;
  left: -5px;
  background-color: #fefefe;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.app__canvas_upper {
  position: absolute;
  width: 850px;
  height: 435px;
  bottom: 10px;
  left: -10px;
  background-color: #fefefe;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.functionality {
  border: 1px solid #dddddd;;
  justify-self: end;
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0;
  margin: 0;
  height: 67px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
