.form {
  box-shadow: inset 0px -2px 3px rgba(0, 0, 0, 0.2);
  display: flex;
}

.form__input {
  font-weight: 300;
  font-style: normal;
  font-size: 38px;
  margin: 25px 0 25px 0;
  border: none;
  background-color: #fefefe;
  color: #565656;
  width: 700px;
  text-overflow: ellipsis;
}

.form__input :active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.form__input::placeholder {
  opacity: 30%;
  font-style: italic;
}

.form__dropdown {
  width: 24px;
  margin-left: 26px;
  margin-right: 46px;
  background-image: url(../../../public/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}